div{
  background-color: #F5F0BB;
  text-align: center;
  padding-top: 100px
}
h1{
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.bottom-cloud
{
  position: absolute;
}

.top-cloud
{
  position: absolute;
  right: 250px;
  top: 40px;
}
hr {
  border-color: grey;
  border-style: dotted none none none;
  border-width: 8px;
  width: 10%;
}
